.DS_Store

dist/
out/
target/
build/

!**/src/**/dist/
!**/src/**/out/
!**/src/**/target/
!**/src/**/build/

.gradle
gradle.properties
lombok.config

*.iml
.idea
.project
.classpath
.settings
nbproject
nb-configuration.xml
nbactions.xml
