.DS_Store
*.log

.m2
target
build
dist
dist-ssr
node_modules

!**/src/**/target
!**/src/**/build
!**/src/**/dist
!**/src/**/dist-ssr

/.gradle
/gradle.properties

*.iml
.idea
.project
.classpath
.settings

.vscode/*
!.vscode/extensions.json
